<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <main class="px-5 align-self-center" style="width: 80%;">
    <h3>YelpCamp</h3>
    <p> We're here to help you dream up your next trip, figure out the details, and reserve experiences at over 4,200 facilities and 113,000 individual sites across the country. There's something for everyone on Recreation.gov, so get out there, experience the USA, and bring home a story! </p>
    <p> Access tools and resources to chart the course for your next getaway or dream vacation, manage your trip details, and enter for the chance to attend special events and excursions that ensure you get the most out of your Recreation.gov experience.</p>
    <a href="/campgrounds" class="btn btn-light btn-secondary"> go and explore </a>
  </main>


</body>
</html>