<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="css/user.css">

<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="row mb-5">
    <div class="shadow p-5 login-card-image user-card" >


<div class="card-body" >

  <form class="needs-validation" action="/login" method="post" novalidate>

    <h1 class="mb-3 text-dark">Log in!</h1>

    <div class="mb-3">
      <label class="form-label" for="username">Username:</label>
      <input class="form-control" type="text" placeholder="username" name="username" id="username" autofocus required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <!-- <div class="mb-3">
      <label for="email" class="form-label">email:</label>
      <input class="form-control " type="email" placeholder="email" name="email" id="email" value="@" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div> -->

    <div class="mb-3">
      <label class="form-label" for="password">Password:</label>
      <input class="form-control" placeholder="password" name="password" id="password" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <button class="btn btn-light w-100 mt-4">Login</button>
</form>
</div>


  </div>
</div>
  </div>
